div{
    width: 30%;
    height: 180px;
    border: 3px solid;
    background-color: rgba(255, 255, 0, 0.6);
    margin: 30px;
    text-align: justify;
    float: left;
}

.two{
    line-height: 20px;
    overflow: hidden;
    word-wrap: normal;
    clear: left;
}

.three{
    overflow: scroll;
}

h3{
    text-align: center;
}