h1{
    color: blue;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 90%;
}

h3{
    padding: 15%;
    text-align: center;
    background-color: white;
    color: black;
    border: 3px black solid;
    margin: 5%;
}

header li{
    display: inline;
    padding-right: 30px;
    list-style: none;
}

header, footer{
    background-color: blue;
    color: white;
    font-weight: bolder;
    padding: 7px;
    text-align: center;
}

.banner{
    background-image: url("../Images/1.jpg");
    background-repeat: no-repeat;
    background:cover;
    padding: 2px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar-left, .sidebar-right{
    width: 20%;
    background-color: green;
    color: white;
}

.sidebar-left li{
	list-style: none;
	font-weight: bolder;
}

.content{
    height: 520px;
    width: 60%;
    padding: 3% 3% 0 3%;
}

li a{
    text-decoration: none;
    color: white;
}

.content p{
    height: 150px;
    background-color: rgba(153, 153, 125, 0.6);
    text-align: justify;
    display: inline-block;
    overflow: scroll;
    margin: 2%;
    width: 45%;
    padding-bottom: 5%;
}

p:nth-of-type(even)
{
    float: right;
}

p:nth-of-type(odd)
{
    float: left;
}

footer{
    color: yellow;
}